# PostgreSQL DWH
POSTGRES_DWH_USER=dwh_user
POSTGRES_DWH_PASSWORD=dwh_password_2026
POSTGRES_DWH_DB=dwh

# PostgreSQL Airflow
POSTGRES_AIRFLOW_USER=airflow
POSTGRES_AIRFLOW_PASSWORD=airflow_password_2026
POSTGRES_AIRFLOW_DB=airflow

# MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password_2026
MINIO_BUCKET=data-lake

# Airflow
# Générer avec : python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_WWW_USER_USERNAME=admin
AIRFLOW_WWW_USER_PASSWORD=admin2026

# API
API_TOKEN=formation-token-2026
